#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.avatar {
  margin: 7px;
  float: right;
}
.search {
  margin-top: 10px;
  margin-left: 10px;
}
.content {
  margin: "0 16px";
}
.col-content {
  padding-left: 25px;
}
.col-content-button {
  margin-top: 10px;
}
.input-field input {
  margin-bottom: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
